<!-- src\app\authentication\auth-verification-handler\auth-verification-handler.component.html -->
<div class="auth-verification-page">
  <div class="auth-verification-container">
    <div *ngIf="isLoading">
      <p>Aguarde, estamos verificando seu e-mail...</p>
    </div>

    <div *ngIf="!isLoading && message">
      <p class="alert"
        [ngClass]="{'success-message': message.includes('sucesso'), 'error-message': !message.includes('sucesso')}">
        {{ message }}
      </p>
    </div>

    <!-- Exibe uma mensagem linda de boas-vindas após verificação -->
    <div *ngIf="!isLoading && message.includes('sucesso')">
      <h1>Bem-vindo à nossa plataforma!</h1>
      <p>Seu e-mail foi verificado com sucesso. Agora, você será redirecionado para finalizar seu cadastro e aproveitar
        todos os recursos da plataforma!</p>
      <button (click)="goToFinalizarCadastro()">Continuar</button>
    </div>
  </div>
</div>


    <!-- Bloco para redefinição de senha -->
    <!-- Bloco para redefinição de senha -->
    <!-- Bloco para redefinição de senha -->
    <div *ngIf="!isLoading && mode === 'resetPassword'">
      <div class="reset-password-page">
        <div class="reset-password-container">
          <h2>Redefinir Senha</h2>

          <form (ngSubmit)="onSubmit()">
            <label for="newPassword">Nova Senha</label>
            <div class="password-wrapper">
              <input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="newPassword" name="newPassword" required
                class="input-field" />
              <button type="button" class="toggle-password" (click)="togglePasswordVisibility()">
                <i [ngClass]="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
              </button>
            </div>

            <label for="confirmPassword">Confirmar Nova Senha</label>
            <div class="password-wrapper">
              <input [type]="showConfirmPassword ? 'text' : 'password'" [(ngModel)]="confirmPassword" name="confirmPassword"
                required class="input-field" />
              <button type="button" class="toggle-password" (click)="toggleConfirmPasswordVisibility()">
                <i [ngClass]="showConfirmPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
              </button>
            </div>

            <button type="submit" class="btn-submit">Redefinir Senha</button>

          </form>
      </div>
    </div>
  </div>

<!-- Modal de erro ao verificar e-mail -->
<div *ngIf="showVerificationErrorModal" class="modal">
  <div class="modal-content">
    <h2>Erro ao verificar o e-mail</h2>
    <!-- <p>{{ message }}</p> -->
    <p>Não foi possível verificar seu e-mail. Você pode tentar reenviar o e-mail de confirmação ou consultar nossas
      perguntas frequentes.</p>

    <!-- Botões de ação -->
    <div class="modal-actions">
      <button (click)="resendVerificationEmail()">Reenviar e-mail de confirmação</button>
      <button (click)="redirectToFAQ()">Ver perguntas frequentes</button>
      <button (click)="closeModal()">Fechar</button>
    </div>
  </div>
</div>
