/* src\app\authentication\auth-verification-handler\auth-verification-handler.component.css */
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 70vh;
  background-color: var(--background-color);
  font-family: var(--font-family-primary);
}

.form-container {
  width: 100%;
  max-width: 450px;
  padding: 25px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: var(--box-shadow);
  text-align: center;
}

.form-header{
  font-size: 1.5rem;
}

.form-container:hover {
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

.loading-message {
  text-align: center;
  font-size: 1.2rem;
  color: var(--primary-color);
}

.alert-container {
  margin-top: 20px;
}

.action-container {
  text-align: center;
  margin-top: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
@media (max-width: 768px) {
  .reset-password-page {
    max-width: 70%;
  }
}
