<!-- src\app\user-profile\user-profile-view\user-profile-preferences\user-profile-preferences.component.html -->
<mat-accordion class="preferences-accordion">
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <i class="fas fa-user-edit"></i>
        Preferências do Usuário
      </mat-panel-title>
    </mat-expansion-panel-header>

    <!-- Se houver preferências cadastradas -->
    @if (preferences$ | async; as preferences) {
      <div class="preferences-list">
        @if (categoriasDePreferencias.genero.length > 0) {
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title><i class="fas fa-users"></i> Interesse em:</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="preferences-grid">
              @for (pref of categoriasDePreferencias.genero; track pref) {
                <button class="preference-item"
                  (click)="onPreferenceClick(pref)">
                  {{ pref | capitalize }}
                </button>
              }
            </div>
          </mat-expansion-panel>
        }
        @if (categoriasDePreferencias.praticaSexual.length > 0) {
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title><i class="fas fa-fire"></i> Que curtam:</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="preferences-grid">
              @for (pref of categoriasDePreferencias.praticaSexual; track pref) {
                <button class="preference-item"
                  (click)="onPreferenceClick(pref)">
                  {{ pref | capitalize }}
                </button>
              }
            </div>
          </mat-expansion-panel>
        }
        @if (categoriasDePreferencias.preferenciaFisica.length > 0) {
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title><i class="fas fa-user"></i> Características desejadas:</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="preferences-grid">
              @for (pref of categoriasDePreferencias.preferenciaFisica; track pref) {
                <button class="preference-item"
                  (click)="onPreferenceClick(pref)">
                  {{ pref | capitalize }}
                </button>
              }
            </div>
          </mat-expansion-panel>
        }
        @if (categoriasDePreferencias.relacionamento.length > 0) {
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title><i class="fas fa-heart"></i> Tipo de relacionamento:</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="preferences-grid">
              @for (pref of categoriasDePreferencias.relacionamento; track pref) {
                <button class="preference-item"
                  (click)="onPreferenceClick(pref)">
                  {{ pref | capitalize }}
                </button>
              }
            </div>
          </mat-expansion-panel>
        }
      </div>
    } @else {
      <p class="no-preferences-message">Nenhuma preferência cadastrada.</p>
    }



  </mat-expansion-panel>
</mat-accordion>
