 /* src\app\chat-module\room-interaction\room-interaction.component.css */
 .room-interaction-container {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   max-width: 100%;
   margin: 0 auto;
 }

 .participants {
   border: 1px solid #ccc;
   border-radius: 8px;
   padding: 10px;
   background-color: #f9f9f9;
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
 }

 .participants h3 {
   margin-bottom: 10px;
   font-size: 1.5rem;
   font-weight: bold;
   text-align: center;
   width: 100%;
 }

 .participants ul {
   list-style: none;
   padding: 0;
   width: 100%;
 }

 .participants li {
   margin-bottom: 5px;
   flex: 1 1 calc(33.33% - 10px);
   box-sizing: border-box;
 }

 .participant-tag {
   display: flex;
   align-items: center;
   padding: 10px;
   border-radius: 8px;
   transition: background-color 0.3s ease;
   width: 100%;
   min-width: 150px;
 }

 .participant-info {
   margin-left: 10px;
   display: flex;
   flex-direction: column;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
 }

 .participants img {
   width: 48px;
   height: 48px;
   border-radius: 50%;
 }

 .nickname {
   font-weight: bold;
 }

 .gender,
 .municipio {
   font-size: 0.85rem;
   color: #666;
 }

 .creator-badge {
   font-size: 0.75rem;
   color: #007bff;
   font-weight: bold;
 }

 .status-online {
   background-color: #d4edda;
 }

 .status-offline {
   background-color: #f8d7da;
 }

 .messages-container {
   border: 1px solid #ccc;
   border-radius: 8px;
   padding: 10px;
   background-color: #fff;
   position: relative;
 }

 .messages-container h3 {
   margin-bottom: 10px;
   font-size: 1.5rem;
   font-weight: bold;
   text-align: center;
 }

 .room-info {
   text-align: center;
   margin-bottom: 20px;
 }

 .room-info h2 {
   font-size: 1.8rem;
   font-weight: bold;
   color: var(--primary-color);
 }

 .room-info p {
   font-size: 1rem;
   color: #666;
 }

 .messages {
   max-height: 300px;
   overflow-y: auto;
 }

 .message-item {
   padding: 5px 10px;
   margin-bottom: 5px;
   border-radius: 8px;
 }

 .message-input {
   display: flex;
   flex-direction: column;
   gap: 10px;
 }

 .message-item.user-message {
   text-align: right;
   background-color: var(--primary-color);
   color: white;
   padding: 5px;
   border-radius: 8px;
 }

 .message-item.other-message {
   text-align: left;
   background-color: #f1f1f1;
   color: black;
   padding: 5px;
   border-radius: 8px;
 }

 @media (max-width: 768px) {
   .room-interaction-container {
     flex-direction: column;
   }

   .participants,
   .messages-container {
     width: 100%;
   }

   .participants li {
     flex: 1 1 calc(50% - 10px);
   }
 }
