/* src\app\footer\legal-footer\termos-e-condicoes\termos-e-condicoes.component.css */
.conteudo-termosecondicoes {
  padding: 20px;
  font-family: var(--font-family-primary);
  color: var(--text-color);
  max-height: 70vh;
  overflow-y: auto;
}

.conteudo-termosecondicoes h1,
.conteudo-termosecondicoes h4 {
  color: var(--primary-color);
}

.conteudo-termosecondicoes p {
  margin-bottom: 15px;
  line-height: 1.6;
}

.conteudo-termosecondicoes button {
  margin-top: 20px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.conteudo-termosecondicoes button:hover {
  background-color: var(--primary-hover);
}
