<!-- src\app\footer\legal-footer\termos-e-condicoes\termos-e-condicoes.component.html -->
<div class="conteudo-termosecondicoes" role="dialog" aria-modal="true" aria-labelledby="modal-title">
  <h1 id="modal-title">Termos e Condições de Uso</h1>

  <p>Bem-vindo à [Nome do Site]! Ao acessar ou usar nossa plataforma, você concorda em cumprir e estar vinculado aos
    seguintes termos e condições. Por favor, leia-os atentamente. Se você não concorda com estes termos, não utilize
    nosso site.</p>

  <h4>Restrição de Idade</h4>
  <p>O acesso a [Nome do Site] é estritamente restrito a indivíduos com 18 anos ou mais. Ao utilizar este site, você
    declara e garante que tem pelo menos 18 anos de idade. Se não tiver, por favor, não acesse ou utilize a plataforma.
  </p>

  <h4>Uso do Conteúdo</h4>
  <p>O conteúdo deste site é fornecido apenas para sua informação geral e uso pessoal. Ele está sujeito a alterações sem
    aviso prévio. Você concorda em utilizar o conteúdo de forma responsável e em conformidade com todas as leis
    aplicáveis.</p>

  <h4>Propriedade Intelectual</h4>
  <p>Todo o conteúdo presente neste site, incluindo, mas não se limitando a, textos, gráficos, logotipos, ícones,
    imagens e software, é propriedade da [Nome da Empresa] ou de seus licenciadores e está protegido por leis de
    direitos autorais e outras leis de propriedade intelectual.</p>

  <h4>Uso Aceitável</h4>
  <p>Você concorda em não utilizar o site para qualquer propósito ilegal ou proibido por estes termos. É proibido
    transmitir ou divulgar conteúdo ilegal, ameaçador, abusivo, difamatório, obsceno ou que viole os direitos de
    terceiros.</p>

  <h4>Links para Outros Sites</h4>
  <p>Nosso site pode conter links para sites de terceiros que não são controlados ou operados por nós. Não nos
    responsabilizamos pelo conteúdo ou práticas desses sites. Recomendamos que você leia os termos e políticas de
    privacidade de qualquer site de terceiros que visitar.</p>

  <h4>Alterações nos Termos</h4>
  <p>Reservamo-nos o direito de modificar estes termos a qualquer momento. Quaisquer alterações serão efetivas
    imediatamente após a publicação no site. É sua responsabilidade revisar os termos periodicamente.</p>

  <h4>Contato</h4>
  <p>Se você tiver alguma dúvida sobre estes termos, entre em contato conosco em [email de contato].</p>

  <button mat-button (click)="closeDialog()">Fechar</button>
</div>
