<!-- src\app\footer\legal-footer\termos-e-condicoes\termos-e-condicoes.component.html -->
<div class="conteudo_termosecondicoes">
  <h1>Termos e Condições de Uso</h1>

  <p>Bem-vindo ao [Nome do Site]! Ao acessar nosso site, você concorda em cumprir os seguintes termos e condições de uso, que
  juntamente com nossa política de privacidade regem a relação entre [Nome da Empresa] e você em relação a este site. Se
  você não concorda com alguma parte destes termos e condições, por favor, não utilize nosso site.</p>

  <h4>Restrição de Idade</h4>
  <p>O acesso a [Nome do Site] é estritamente limitado a indivíduos maiores de 18 anos. Ao acessar e utilizar este site, você
  declara e garante que tem pelo menos 18 anos de idade.</p>

  <h4>Uso do Conteúdo</h4>
  <p>O conteúdo das páginas deste site é para sua informação geral e uso.
  Está sujeito a alterações sem aviso prévio.</p>

  <h4>Propriedade Intelectual</h4>
  <p>Este site contém material que é propriedade nossa ou licenciado para nós. Este material inclui, mas não se limita a,
  design, layout, aparência, imagens e gráficos. A reprodução é proibida.</p>

  <h4>Uso Aceitável</h4>
  <p>O uso indevido deste site pode dar origem a uma reclamação por danos e/ou ser um
  delito criminal.</p>

  <h4>Links para Outros Sites</h4>
  <p>Nosso site pode incluir links para outros sites de interesse. Esses links são fornecidos para sua conveniência para
  fornecer mais informações. Eles não significam que endossamos o(s) site(s). Não temos responsabilidade pelo conteúdo
  do(s) site(s) vinculado(s).</p>

  <h4>Alterações nos Termos</h4>
  <p>Podemos alterar estes termos e condições a qualquer momento atualizando esta página. Você deve verificar esta página de
  tempos em tempos para garantir que está satisfeito com quaisquer alterações.</p>

  <button mat-button (click)="closeDialog()">Fechar</button>

</div>
