/* src/app/shared/components-globais/upload-photo/upload-photo.component.css */
.upload-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  background-color: #f9f9f9;  /* Cor de fundo suave */
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
 }

.file-input {
  width: 100%;
  padding: 5%;
  margin-bottom: 5%;
  border-radius: 10px;
  border: 3px solid #b6b6b6;
  font-size: 16px;
}

.btn-primary {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
}

#selectFotoComponent{
    padding-top: 5%;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5%px;
    color: #575757;
    text-align: center;
}
