<!-- src/app/shared/components-globais/upload-photo/upload-photo.component.html -->
<div class="upload-modal-content">
  <button class="btn-close" (click)="closeModal('cancel')">&times;</button>
  <p id="selectFotoComponent">SELECIONE UMA FOTO</p>
  <input type="file" (change)="onFileSelected($event)" class="file-input">
</div>

<!-- Spinner de carregamento -->
@if (isLoading) {
  <div class="loading-spinner">
    <div class="spinner"></div>
    <p>Carregando...</p>
  </div>
}

<!-- Mensagem de erro -->
@if (errorMessage) {
  <div class="alert alert-danger mt-2" role="alert">
    {{ errorMessage }}
  </div>
}
