/* src\app\authentication\login-component\login-component.component.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 70vh;
  background-color: var(--background-color);
  font-family: var(--font-family-primary);
}

.form-container {
  width: 100%;
  max-width: 450px;
  padding: 25px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: var(--box-shadow);
  text-align: center;
}

/* Honeypot escondido */
.honeypot-hidden {
  display: none;
}

.form-container:hover {
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

.form-header{
  font-size: 1.5rem;
}

.forgot-password {
  color: var(--primary-color);
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
  transition: color 0.3s ease;
  font-size: 1.1rem;
   }

.forgot-password:hover {
  color: var(--primary-hover);
}

.register-link {
  margin-top: 15px;  /* Aumenta a distância acima do link */
  font-size: 1.2em;
}

.register-link a {
  color: var(--primary-color);
}

.register-link a:hover {
  color: var(--primary-hover);
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .authentication-content-right {
    max-width: 70%;
  }
}
