<!-- src\app\authentication\login-component\login-component.component.html -->
<div class="authentication-container login-component">
  <div class="authentication-content-right">
    <h2 class="authentication-header">Se já tem cadastro<br>Insira seus dados para entrar</h2>

    <!-- Formulário de login -->
    <form class="authentication-form" (ngSubmit)="login()">
      <!-- Campo de email -->
      <input type="email" [(ngModel)]="email" placeholder="Email" name="email" required (focus)="clearError()">

      <!-- Campo de senha -->
      <input type="password" [(ngModel)]="password" placeholder="Senha" name="password" required (focus)="clearError()">

      <!-- Honeypot (campo invisível para proteção contra bots) -->
      <input type="text" name="honeypot" [(ngModel)]="honeypot" style="display: none;" />

      <!-- Botão de login -->
      <button type="submit" [disabled]="isLoading || isHoneypotFilled">Login</button>

      <!-- Spinner de carregamento -->
      <div *ngIf="isLoading" class="spinner">Carregando...</div>

      <!-- Mensagem de erro -->
      <p *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</p>

      <!-- Link para resetar senha -->
      <a class="forgot-password" (click)="emailInputModalService.openModal()">Esqueci minha senha</a>

      <!-- Link para registro -->
      <p class="register-link">
        Não tem uma conta? <a [routerLink]="['/register']">Cadastre-se</a>
      </p>
    </form>
  </div>

   <!-- Modal de verificação de e-mail -->
  <div *ngIf="showEmailVerificationModal" class="modal-overlay">
    <div class="modal-content">
      <h2>Verificação de E-mail</h2>
      <p>Seu e-mail ainda não foi verificado. Por favor, verifique seu e-mail ou reenvie o link de verificação.</p>
      <button (click)="resendVerificationEmail()">Reenviar E-mail de Verificação</button>
      <button (click)="logout()">Sair</button>
    </div>
  </div>
<app-email-input-modal></app-email-input-modal>
</div>
