/* src\app\core\textos-globais\info-cria-sala-bp\info-cria-sala-bp.component.css */

.modal-content {

   transform: translate(-50%, -50%) scale(0.9);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  background-color: rgb(219, 217, 217);
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.modal-content h2,
.modal-content p {
  text-align: center;
  /* Centraliza o texto */
  text-justify: inter-word;
  /* Justifica o texto */
}
