/* src\app\chat-module\create-room-modal\create-room-modal.component.css */
.form-group {
  margin-bottom: 20px;
}

.button-create-room{
  padding: 10px;
}

.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
}

.input-field:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

textarea.input-field {
  resize: vertical;
}

.puta{
  display: flex;
  justify-content: center;
  gap: 20px
}

/* Botão desabilitado */
button[type="submit"]:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
