<!-- src\app\footer\navigation-footer\navigation-footer.component.html -->
<div class="footer-container">
  <div class="container">
    <div class="row">
      <!-- Seções Principais -->
      <div class="col-md-4">
        <h5>Seções Principais</h5>
        <ul>
          <li><a href="#">Início</a></li>
          <li><a href="#">Sobre Nós</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contato</a></li>
        </ul>
      </div>

      <!-- Recursos -->
      <div class="col-md-4">
        <h5>Recursos</h5>
        <ul>
          <li><a href="#">Privacidade</a></li>
          <li><a href="javascript:void(0)" (click)="openTermsAndConditions()">Termos e Condições</a></li>
          <li><a href="#">Política de Cookies</a></li>
        </ul>
      </div>

      <!-- Suporte -->
      <div class="col-md-4">
        <h5>Suporte</h5>
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Central de Ajuda</a></li>
          <li><a href="#">Reportar Problema</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
