<!-- src\app\header\links-interaction\links-interaction.component.html -->
<div class="links-container">
  <a [routerLink]="['/chat', userId]" class="chat-rooms-link">
    <i class="fas fa-comments"></i> Salas de Bate-Papo
    @if (unreadMessagesCount > 0) {
      <span class="badge">{{ unreadMessagesCount }}</span>
    }
  </a>

  <!-- Separador entre os links -->
  <span class="separator">|</span>

  <a (click)="onUploadPhotoClick()" class="chat-rooms-link" style="cursor: pointer;">
    <i class="fas fa-upload"></i> Enviar Foto
  </a>

  <span class="separator">|</span>

  <a [routerLink]="['/invites']" class="chat-rooms-link">
    <i class="fas fa-user-plus"></i> Convites
    @if (pendingInvitesCount > 0) {
      <span class="badge">{{ pendingInvitesCount }}</span>
    }
  </a>
</div>
