<!-- src\app\core\footer\contact-footer\contact-footer.component.html -->

<div class="container-fluid bg-dark text-white py-5">
  <div class="container">
    <div class="row">
      <!-- Informações de Contato -->
      <div class="col-md-6">
        <h4>Canais de Contato</h4>

        <p><i class="fas fa-envelope"></i> seuemail@exemplo.com</p>
        <p><i class="fas fa-phone-alt"></i> (21) 12345-6789</p>
      </div>

      <!-- Redes Sociais -->
      <div class="col-md-6">
        <h4>Siga-nos</h4>
        <a href="#" class="text-white mr-3"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="text-white mr-3"><i class="fab fa-twitter"></i></a>
        <a href="#" class="text-white mr-3"><i class="fab fa-instagram"></i></a>
        <!-- Adicione mais ícones de redes sociais conforme necessário -->
      </div>
    </div>
  </div>
</div>
