/* src\app\core\footer\contact-footer\contact-footer.component.css */

.contact-footer ul {
  list-style-type: none;
  padding: 0;
}

.contact-footer li {
  margin-bottom: 5px;
}

.contact-footer li a {
  color: #ffffff;
  text-decoration: none;
}

.contact-footer li a:hover {
  color: #a3a1a1;
}
