<!-- src\app\user-profile\user-social-links-accordion\user-social-links-accordion.component.html -->
<mat-accordion class="social-links-accordion">
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <i class="fas fa-user-edit"></i>
        Redes Sociais
      </mat-panel-title>
    </mat-expansion-panel-header>

    <!-- Se tiver algum link configurado -->
    @if (anyLinks()) {
      <div class="social-link-list">
        @if (socialLinks?.facebook) {
          <div class="social-link-item">
            <i class="fab fa-facebook-square"></i> Facebook:
            <span class="social-link-value">{{ socialLinks?.facebook }}</span>
          </div>
        }
        @if (socialLinks?.instagram) {
          <div class="social-link-item">
            <i class="fab fa-instagram"></i> Instagram:
            <span class="social-link-value">{{ socialLinks?.instagram }}</span>
          </div>
        }
        @if (socialLinks?.twitter) {
          <div class="social-link-item">
            <i class="fab fa-twitter"></i> Twitter:
            <span class="social-link-value">{{ socialLinks?.twitter }}</span>
          </div>
        }
      </div>
    } @else {
      <p class="no-links-info">
        Você não adicionou nenhuma rede social ainda.
      </p>
    }

    <!-- Botão que leva para editar -->
    <button class="btn btn-secondary" (click)="goToEditSocialLinks()">
      Editar Redes Sociais
    </button>

  </mat-expansion-panel>
</mat-accordion>

