<!-- src\app\photo\tools-edit-photo\brightness-contrast-tool\brightness-contrast-tool.component.html -->
<div class="brightness-contrast-tool">
  <div>
    <label for="brightness">Brilho:</label>
    <input type="range" id="brightness" [(ngModel)]="brightness" min="-100" max="100" (change)="applyChanges()" />
  </div>
  <div>
    <label for="contrast">Contraste:</label>
    <input type="range" id="contrast" [(ngModel)]="contrast" min="-100" max="100" (change)="applyChanges()" />
  </div>
</div>

