<!-- src\app\authentication\register-component\register.component.html -->
<div class="auth-container">
  <div class="form-container">
    <h2 class="form-header">Cadastre-se</h2>

    <!-- Exibir mensagens de erro -->
    <div *ngIf="registerForm.errors && registerForm.errors['serverError']" class="alert alert-error">
      {{ registerForm.errors['serverError'] }}
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="onRegister()" class="form">

      <div *ngIf="registerForm.get('nickname')?.invalid && registerForm.get('nickname')?.touched" class="alert alert-error">
        <small *ngIf="registerForm.get('nickname')?.hasError('required')">Apelido é obrigatório</small>
        <small *ngIf="registerForm.get('nickname')?.hasError('minlength')">Apelido muito curto</small>
        <small *ngIf="registerForm.get('nickname')?.hasError('maxlength')">Apelido muito longo</small>
        <small *ngIf="registerForm.get('nickname')?.hasError('nicknameInUse')">Apelido já está em uso</small>
      </div>
      <input type="text" formControlName="nickname" class="input-field"
      placeholder="Apelido de até 25 dígitos" (blur)="checkNickname()"/>

      <!-- Campo de Email -->
      <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="alert alert-error">
        <small>Email inválido</small>
      </div>

      <input type="email" formControlName="email" class="input-field" placeholder="Digite um e-mail válido" />


      <!-- Campo de Senha -->
      <input type="password" formControlName="password" class="input-field"
        placeholder="Senha (mínimo de 8 caracteres)" />
      <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched"
        class="alert alert-error">
        <small>Senha fraca. Deve conter ao menos 8 caracteres, incluindo maiúsculas, minúsculas e números.</small>
      </div>

      <div class="form-confirmation">
        <input type="checkbox" formControlName="aceitarTermos" required />
        <label>Eu li e aceito os <a (click)="openTermsDialog()">Termos de Uso</a> e a <a
            href="/politica-de-privacidade" target="_blank">Política de Privacidade</a>.</label>
      </div>

      <div class="button-container">
        <button class="btn btn-primary" type="submit" [disabled]="registerForm.invalid || isLoading || isLockedOut">
          <span *ngIf="isLoading">Carregando...</span>
          <span *ngIf="!isLoading && !isLockedOut">Cadastre-se</span>
          <span *ngIf="isLockedOut">Bloqueado</span>
        </button>
      </div>

    </form>

    <!-- Exibir mensagem de sucesso ao submeter o formulário -->
    <div *ngIf="formSubmitted">
      <h3>Verifique seu E-mail</h3>
      <p>Enviamos um e-mail de verificação para <strong>{{ registerForm.get('email')?.value }}</strong>.</p>
      <button class="btn btn-primary" (click)="resendVerificationEmail()">Reenviar E-mail de Verificação</button>
    </div>

    <p class="login-link">Já tem uma conta? <a [routerLink]="['/login']">Faça login</a></p>
  </div>
</div>
