<!-- src\app\authentication\register-component\register.component.html -->
<div class="authentication-container">
  <div class="authentication-content">
    <h2>Cadastre-se</h2>
    <!-- Mostra alerta de erro -->
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{errorMessage}}
    </div>
    <!-- Mostra alerta de sucesso -->
    <div *ngIf="successMessage" class="alert alert-success">
      {{successMessage}}
    </div>
    <form (submit)="onRegister()">
      <input type="text" [(ngModel)]="nickname" (input)="checkNickname()" placeholder="Apelido" name="nickname" required>
      <div *ngIf="nicknameStatus"
        [ngClass]="{'text-success': nicknameStatus === 'Apelido disponível', 'text-danger': nicknameStatus !== 'Apelido disponível'}">
        {{nicknameStatus}}
      </div>
      <input type="email" placeholder="E-mail" [(ngModel)]="email" name="email" required />
      <input type="password" placeholder="Senha" [(ngModel)]="password" name="password" required />
      <button type="submit">Registrar</button>
    </form>
  </div>
</div>
