<!-- src\app\authentication\suggested-profiles\suggested-profiles.component.html -->
<div class="authentication-container">
  <!-- Se houver perfis correspondentes -->
  <p *ngIf="matchingProfilesCount" class="profile-count">
    Foram encontrados {{ matchingProfilesCount }} perfis que correspondem aos seus desejos.
  </p>

  <!-- Lista de Perfis Sugeridos -->
  <mat-card *ngFor="let profile of suggestedProfiles" class="profile-card">
    <mat-card-header>
      <div mat-card-avatar [style.background-image]="'url(' + profile.photoURL + ')'"></div>
      <mat-card-title>{{ profile.nickname }}</mat-card-title>
      <mat-card-subtitle>Email: {{ profile.email }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="profile.photoURL" alt="{{ profile.nickname }}">
    <!-- ... adicione outros campos conforme necessário ... -->
    <mat-card-actions>
      <!-- Exemplo de ação -->
      <button mat-button>Ver Perfil</button>
    </mat-card-actions>
  </mat-card>

  <!-- Mostra a mensagem se não houver perfis -->
  <p *ngIf="noProfilesMessage" class="no-profile-message">
    {{ noProfilesMessage }}
  </p>
</div>
