/* src\app\layout\friend.management\friend-actions\friend-actions.component.css */
.friend-actions {
  max-width: 500px;
  padding: 16px;
  border-radius: 8px;
  background: #f9f9f9;
}

button {
  margin: 5px 0;
  width: 100%;
}

mat-spinner {
  display: block;
  margin: 10px auto;
}
