<!-- src\app\chat-module\chat-module-layout\chat-module-layout.component.html -->
<div class="chat-module-container">
  <!-- Painel de informações do usuário logado -->
  <div class="user-info-panel">
    <div class="user-details">
      <img ngSrc="{{ (usuario$ | async)?.photoURL || '/assets/imagem-padrao.webp' }}" width="80" height="80" alt="Foto"
        class="foto_chat" priority>
        <p>{{ (usuario$ | async)?.nickname }}</p>
      </div>
      <div class="recent-interactions">
        <app-chat-list (chatSelected)="onChatSelected($event)"></app-chat-list>
      </div>
    </div>

    <!-- Área principal do chat -->
    <div class="chat-window-main">
      <div class="chat-rooms">
        <app-chat-rooms></app-chat-rooms>
      </div>

      <!-- Área de mensagens e interação -->
      <div class="chat-content">
        <div class="chat-area">
          @if (selectedType === 'room') {
            <app-room-interaction [roomId]="selectedChatId"></app-room-interaction>
          }
          @if (selectedType === 'chat') {
            <app-chat-messages-list [chatId]="selectedChatId" [type]="selectedType"></app-chat-messages-list>
          }
          @if (!selectedType) {
            <p>Selecione um chat ou uma sala.</p>
          }
        </div>

        <!-- Área fixa de digitação no bottom -->
        @if (selectedType) {
          <div class="chat-input">
            <textarea [(ngModel)]="messageContent" (keydown.enter)="sendMessage(); $event.preventDefault()"
            placeholder="Digite sua mensagem..."></textarea>
            <button (click)="sendMessage()">Enviar</button>
          </div>
        }
      </div>
    </div>
  </div>
