<!-- src\app\chat-module\room-creation-confirmation-modal\room-creation-confirmation-modal.component.html -->
<app-base-modal title="{{ data.action === 'created' ? 'Sala Criada' : 'Sala Atualizada' }}" (closeModal)="close()">
  <div class="modal-content-body">
    <p>
      Agora você pode
      {{ data.action === 'created' ? 'ter uma conversa em grupo, interagindo com vários participantes ao mesmo tempo' :
      'continuar a conversa com os participantes atualizados' }}.
    </p>
    <p>Envie convites para os perfis que desejar.</p>
    <p>
      A sala "<strong>{{ data.roomName }}</strong>" foi
      {{ data.action === 'created' ? 'criada' : 'atualizada' }} com sucesso!
    </p>
    @if (data.exceededLimit) {
      <div class="warning">
        <p>Você atingiu o limite máximo de salas criadas.</p>
      </div>
    }
    <div>
      <p>Informações adicionais:</p>
      <ul>
        <li>Total de salas criadas: {{ data.roomCount }}</li>
        <!-- Outras informações do usuário -->
      </ul>
    </div>
  </div>
  <div footer-actions>
    <button class="btn btn-primary" (click)="close()">Fechar</button>
  </div>
</app-base-modal>
