/* src\styles\global-forms.css */
/* global-forms.css */
.input-field {
  width: 100%;
  padding: 7px;
  margin-bottom: 15px;
  border: 1px solid #cccccc;
  border-radius: 8px;
  font-size: 1rem;
  background-color: var(--input-background);
  color: var(--text-color);
  transition: border-color 0.3s ease, box-shadow 0.2s ease;
}

.input-field:focus {
  border-color: var(--primary-color);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  outline: none;
}

.form-label {
  font-size: 1rem;
  color: var(--text-color);
  margin-bottom: 8px;
  display: block;
}

.input-field.ng-invalid.ng-touched {
  border-color: var(--danger-color);
}

.toggle-input {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #999;
  cursor: pointer;
}

.tooltip-error {
  position: absolute;
  background-color: var(--tooltip-background);
  color: white;
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 0.875rem;
  z-index: 10;
  margin-top: 4px;
  box-shadow: var(--box-shadow);
  animation: fadeIn 0.3s ease;
  white-space: nowrap;
}

.form-field {
  position: relative;
}

.form-wrapper {
  width: 100%;
  max-width: 450px;
  padding: 25px;
  background-color: var(--background-color);
  color: var(--text-color);
  border-radius: 12px;
  box-shadow: var(--box-shadow);
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: auto;
}

.form-header {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: 500;
  color: var(--text-color);
}

.form-checkbox {
  display: flex;
  align-items: flex-start;
  margin: 20px 0;
  gap: 10px;
  color: var(--text-color);
}

.form-checkbox input[type="checkbox"]:checked {
  accent-color: var(--primary-color);
}

.login-link,
.register-link {
  margin-top: 20px;
  font-size: 1rem;
  text-align: center;
}

.login-link a,
.register-link a {
  color: var(--primary-color);
  font-weight: bold;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.login-link a:hover,
.register-link a:hover {
  color: var(--primary-hover);
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 70vh;
  background-color: var(--background-color);
  font-family: var(--font-family-primary);
}
