/* src\styles\global-layout.css */
html,
body {
  height: 100%;
  font-family: var(--font-family-primary);
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

body {
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  transition: color 0.3s ease;
}

a:hover {
  color: var(--primary-hover);
}
