/* src\styles\global-components.css */
/* global-components.css */

/* Botões */
.btn {
  display: inline-block;
  background-color: var(--primary-color);
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  color: #fff;
}

.btn-primary {
  background-color: var(--primary-color);
}

.btn-primary:hover {
  background-color: var(--primary-hover);
  transform: scale(1.05);
}

.btn-danger {
  background-color: var(--danger-color);
}

.btn-danger:hover {
  background-color: var(--danger-hover);
}

.btn-success {
  background-color: var(--success-color);
}

.btn-success:hover {
  background-color: var(--success-hover);
}

.btn-secondary {
  background-color: var(--secondary-color);
}

.btn-secondary:hover {
  background-color: #666;
}

/* Alertas */
.alert {
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 8px;
  font-size: 1rem;
  color: white;
  font-weight: bold;
}

.alert-success {
  background-color: var(--success-color);
}

.alert-error {
  background-color: var(--danger-color);
}

.alert-info {
  background-color: var(--primary-color);
}

/* Snackbar CSS */
.success-snackbar {
  background-color: var(--snackbar-success);
  color: white;
}

.error-snackbar {
  background-color: var(--snackbar-error);
  color: white;
}

.info-snackbar {
  background-color: var(--snackbar-info);
  color: white;
}

.warning-snackbar {
  background-color: var(--snackbar-warning);
  color: white;
}

/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: var(--modal-background);
  padding: 25px;
  border-radius: 16px;
  width: 100%;
  max-width: 450px;
  box-shadow: var(--box-shadow);
  text-align: center;
}

/* Spinner */
.spinner {
  color: var(--primary-color);
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 10px;
}

/*alternância de tema claro/escuro */
.dark-toggle {
  background: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: var(--text-color);
  transition: transform 0.2s ease;
}

.dark-toggle:hover {
  transform: scale(1.15);
}
