<!-- src\app\header\navbar\navbar.component.html -->
<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">
        <app-logo></app-logo>
      </a>
    </div>
    <ul class="navbar-menu">

      <!-- Quando o usuário estiver logado -->
      <li class="navbar-item" *ngIf="isAuthenticated"><a routerLink="/" class="navbar-link">Início</a></li>

      <li class="navbar-item" *ngIf="isAuthenticated">
        <a [routerLink]="['/perfil', userId]" class="navbar-link">Meu Perfil</a>
      </li>
      
      <li class="navbar-item" *ngIf="isAuthenticated"><a routerLink="/contato" class="navbar-link">Contato</a></li>
      <li class="navbar-item" *ngIf="isAuthenticated"><a (click)="logout()" class="navbar-link">Logout</a></li>
      <li class="navbar-item" *ngIf="isAuthenticated">{{ userName }}</li>

      <!-- Quando o usuário não estiver logado -->
      <li class="navbar-item" *ngIf="!isAuthenticated">
        <a routerLink="/espiar" class="navbar-link" title="Acesso limitado ao site">Espiar</a>
      </li>
      <li class="navbar-item" *ngIf="!isAuthenticated">
        <a routerLink="/login" class="navbar-link" title="Se já tem conta, clique aqui para acessar">Logar</a>
      </li>
      <li class="navbar-item" *ngIf="!isAuthenticated">
        <a routerLink="/register-component" class="navbar-link"
          title="Se deseja ter uma conta ou perfil conosco, clique aqui">Registrar</a>
      </li>

    </ul>
  </div>
</nav>
<app-guest-banner *ngIf="isXereta"></app-guest-banner>
