/* src\app\header\navbar\navbar.component.css */
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color: #333;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 5%;
  box-sizing: border-box;
  /* Garante que o padding não afete a largura total */
}

.navbar-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.navbar-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
  /* Ajusta o espaçamento entre os links */
  align-items: center;
  flex-grow: 1;
  /* Permite que a navbar se ajuste melhor */
  justify-content: flex-end;
  /* Garante que os links fiquem à direita */
}

.navbar-item {
  flex-grow: 0;
  flex-shrink: 0;
}

.user-photo {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
  /* Mantém a proporção da imagem */
}

.navbar-item a {
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.2s, transform 0.2s;
  color: white;
  text-decoration: none;
  display: block;
}

.navbar-item a:hover {
  background-color: #555;
  transform: scale(1.05);
}

.navbar-logo {
  max-height: 100%;
  width: auto;
  object-fit: contain;
}

.hamburger-btn {
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  display: none;
  cursor: pointer;
}

/* Ajuste para mobile */
@media only screen and (max-width: 600px) {
  .hamburger-btn {
    display: inline-block;
    margin-left: auto;
  }

  .navbar-menu {
    display: none;
  }

  /* Afasta o nome e a foto da borda no mobile */
  .navbar-container {
    padding: 0 20px;
    /* Ajusta o padding em telas menores */
  }
}

/* Refatoração e otimização de estilos */
.navbar-brand {
  display: flex;
  align-items: center;
}

.toggle-sidebar-btn {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 24px;
  margin-left: auto;
}

.user-info {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
  /* Espaçamento entre a foto e o nome */
  white-space: nowrap;
  /* Evita quebra de linha no nickname */
}
