<!-- src\app\authentication\reset-password\reset-password.component.html -->
<div class="reset-password-page">
  <div class="reset-password-container">
    <h2>Redefinir Senha</h2>

    <form (ngSubmit)="resetPassword()">
      <!-- Campo para nova senha -->
      <label for="newPassword">Nova Senha</label>
      <input type="password" [(ngModel)]="newPassword" (input)="checkPasswordStrength()" name="newPassword" required
        class="input-field" />
      <div *ngIf="passwordStrengthMessage" class="password-strength">
        {{ passwordStrengthMessage }}
      </div>

      <!-- Campo para confirmar senha -->
      <label for="confirmPassword">Confirmar Nova Senha</label>
      <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required class="input-field" />

      <button type="submit" class="btn-submit">Redefinir Senha</button>

      <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
    </form>
  </div>

  <!-- Modal de sucesso -->
  <div *ngIf="showSuccessMessage" class="success-modal">
    <p>Senha redefinida com sucesso! Você será redirecionado para a página de login em breve.</p>
  </div>
</div>
