/* src\app\authentication\reset-password\reset-password.component.css */
.reset-password-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 55vh;
}

.reset-password-container {
  max-width: 350px;
  min-width: 250px;
  padding: 30px 25px;
  background-color: #ffffff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;  /* Centraliza verticalmente */
  align-items: center;  /* Centraliza horizontalmente */
  min-height: 300px;  /* Define uma altura mínima */
}

.input-field {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.3s;
}

.password-strength,
.error-message {
  width: 100%;  /* Centraliza o texto */
  text-align: center;  /* Garante que o texto seja alinhado ao centro */
}

.input-field:focus {
  border-color: #007bff;
}

.password-strength {
  margin-top: -10px;
  margin-bottom: 15px;
  font-size: 0.9rem;
  color: #888;
}

.btn-submit {
  width: 100%;
  padding: 12px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-submit:hover {
  background-color: #0056b3;
}

.error-message {
  color: #ff4d4d;
  margin-top: 15px;
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
}

.success-modal {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #d4edda;
  color: #155724;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  text-align: center;
  font-size: 1.2rem;
}
