<!-- src\app\authentication\reset-password\reset-password.component.html -->
<div class="reset-password-container">
  <h2>Redefinir Senha</h2>

  <form (ngSubmit)="resetPassword()">
    <label for="newPassword">Nova Senha</label>
    <input type="password" [(ngModel)]="newPassword" name="newPassword" required>

    <label for="confirmPassword">Confirmar Nova Senha</label>
    <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required>

    <button type="submit">Redefinir Senha</button>

    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
  </form>
</div>
