<!-- src\app\chat-module\chat-list\chat-list.component.html -->
<div>
  <!-- Exibição de Salas -->
  @if (rooms$ | async; as rooms) {
    <div class="chat-list-container">
      @for (room of rooms; track room) {
        <div class="room-item"
          (click)="selectRoom(room.roomId)"
          [ngClass]="{ 'selected': selectedChatId === room.roomId }">
          <div class="room-item">
            <span class="room-name">{{ room.roomName }}</span>
            <!-- Botões de gerenciamento para o dono da sala -->
            @if (isOwner(room)) {
              <div class="room-management-buttons">
                <button class="button" (click)="deleteRoom(room.roomId, $event); $event.stopPropagation()">Excluir Sala</button>
                <button class="button" (click)="sendInvite(room.roomId, $event); $event.stopPropagation()">Enviar Convite</button>
                <button class="button" (click)="editRoom(room.roomId, $event); $event.stopPropagation()">Editar Sala</button>
              </div>
            }
          </div>
          <hr> <!-- Linha de separação entre salas e para separar do próximo chat/room -->
        </div>
      }
    </div>
  }

  <!-- Exibição de Chats Regulares -->
  @if (regularChats.length > 0) {
    <div class="chat-list-container">
      @for (chat of regularChats; track chat) {
        <div class="chat-item"
          (click)="selectChat(chat.id)"
          [ngClass]="{ 'selected': selectedChatId === chat.id }">
          <img
            [src]="getOptimizedPhotoURL(chat.otherParticipantDetails?.photoURL) || 'assets/imagem-padrao.webp'"
            alt="Foto do Usuário" loading="lazy" class="chat-user-photo">
            <p>{{ chat.otherParticipantDetails?.nickname }}</p>
          </div>
        }
      </div>
    }

    <!-- Mensagem caso não existam chats ou salas -->
    @if (rooms.length === 0 && regularChats.length === 0) {
      <div>
        <p>Você ainda não possui chats ou salas.</p>
      </div>
    }
  </div>
