<!-- src\app\photo\photo-editor\photo-editor.component.html -->
<div #photoContainer class="photo-container">
  <canvas id="canvasID"></canvas>
</div>
<div class="editor-controls">
  <button (click)="toggleBrush()" class="editor-btn">Alternar Pincel</button>
  <button (click)="activateBlurBrush()" class="editor-btn">Pincel</button>
  <app-face-blur-tool (blurSettings)="applyBlurSettings($event)"></app-face-blur-tool>

  <app-brush-tool (brushColorChange)="changeBrushColor($event)"></app-brush-tool>
  <app-brightness-contrast-tool></app-brightness-contrast-tool>
  <button (click)="concludeAndClose()" class="editor-btn">Concluir</button>
</div>


