/* src\app\photo\photo-editor\photo-editor.component.css */

.photo-container {
  width: 100%;
  height: 100%;
}

.photo-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Para o canvas específico */
#canvasID {
  cursor: default !important;
}
