<!-- src\app\photo\photo-editor\photo-editor.component.html -->
<div class="editor-container">
  <div class="tool-buttons">
    <button mat-icon-button (click)="toggleBrush()" class="editor-btn" [class.active]="isBrushActive"
      matTooltip="Alternar Pincel">
      <mat-icon>brush</mat-icon>
    </button>
    <button mat-icon-button (click)="activateBlurBrush()" class="editor-btn" [class.active]="activeTool === 'blurBrush'"
      matTooltip="Pincel de Desfoque">
      <mat-icon>blur_on</mat-icon>
    </button>
    <app-brush-tool (brushColorChange)="changeBrushColor($event)"></app-brush-tool>
    <app-brightness-contrast-tool></app-brightness-contrast-tool>
    <app-crop-tool (cropStart)="startCrop()" (cropApply)="applyCrop()" (cropCancel)="cancelCrop()"></app-crop-tool>
  </div>
  <div #photoContainer class="photo-container">
    <canvas id="canvasID"></canvas>
  </div>
  <div class="action-buttons">
    <button mat-stroked-button color="primary" (click)="undo()" class="editor-btn" matTooltip="Desfazer">
      <mat-icon>undo</mat-icon> Desfazer
    </button>
    <button mat-stroked-button color="primary" (click)="redo()" class="editor-btn" matTooltip="Refazer">
      <mat-icon>redo</mat-icon> Refazer
    </button>
    <button mat-raised-button color="primary" (click)="concludeAndClose()" class="editor-btn" matTooltip="Concluir">
      <mat-icon>check</mat-icon> Concluir
    </button>
  </div>
</div>

