/* src\app\user-profile\user-profile-view\css-teste-user-profile-view.css */

/* Estilização da seção 'Meus dados de perfil' */
.user-details {
  background: linear-gradient(135deg, #6e8efb, #a777e3);  /* Gradiente de fundo */
  color: #fff;  /* Texto branco */
  padding: 25px;
  border-radius: 15px;  /* Bordas arredondadas */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);  /* Sombra para efeito 3D */
  margin-bottom: 30px;  font-family: 'Open Sans', sans-serif;
  border: 1px solid rgba(255, 255, 255, 0.3);    /* Borda sutil */
  backdrop-filter: blur(10px);    /* Efeito de desfoque no fundo */

}

.ajuste {
  margin-bottom: 30px !important;
}

.user-details h3 {
  color: #ffeb3b;  /* Cor vibrante para o título */
  margin-bottom: 15px;
  font-size: 24px;  /* Tamanho maior para o título */
}

.user-details p {
  font-size: 16px;  /* Tamanho do texto */
  line-height: 0.4;  /* Espaçamento de linha */
  margin-bottom: 10px;  /* Espaçamento entre parágrafos */
}

/* Estilização dos botões */
.button-group {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;    /* Alinhamento vertical dos botões */
}

.button-group a,
.button-group button {
  background-color: #ff6565;
    color: white;
    padding: 10px 20px;    /* Aumenta o espaçamento interno */
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
    width: auto;    /* Permite que os botões se ajustem ao conteúdo */
    flex: 1 1 auto;    /* Flexibilidade para crescer e encolher */
    margin: 5px;    /* Espaçamento entre os botões */
    text-align: center;
}

.button-group a:hover,
.button-group button:hover {
  transform: translateY(-3px);  /* Efeito ao passar o mouse */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);  /* Sombra ao passar o mouse */
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
  .button-group {
    justify-content: center;
  }
}
