/* src\app\user-profile\user-profile-view\user-profile-view.component.css */
.profile-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.sidebar {/* --- Estilos da barra lateral --- */
  width: 25%;
  max-width: 250px;
  padding: 20px;
  margin-right: 20px;
  transition: transform 0.5s;
  transform: translateX(0);
}

.profile-header {/* --- Estilos do cabeçalho do perfil --- */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin-bottom: 20px;
  border-radius: 50%;
}

.profile-picture {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid #ddd;
}

.profile-picture:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.user-nickname {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: -10px;
  color: #333;
  font-family: 'Roboto', sans-serif;
}

.profile-nav {/* --- Estilos da navegação do perfil --- */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile-nav a {
  text-decoration: none;
  color: #ff6565;
  padding: 10px 0;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.profile-nav i {margin-right: 8px;}

.profile-nav a:hover {  text-decoration: underline;}

.content {/* --- Estilos do conteúdo principal --- */
  flex: 1;
  padding-left: 20px;
}

.btn {/* --- Estilos dos botões --- */
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  margin-right: 10px;
}

.btn-primary {
  background-color: #007BFF;
  color: white;
}

.btn-secondary {
  background-color: #6C757D;
  color: white;
}
@media only screen and (max-width: 600px) {
  .profile-container {    flex-direction: column;  }

        .sidebar:not(.visible) {
          display: none;           /* Esconde o sidebar */
          transform: translateX(-200%);
        }

        .sidebar.visible {
          display: block;          /* Mostra o sidebar */
          transform: translateX(0);
          width: 60%;
        }

  .content {
          padding-left: 0;
        }
  }



