/* src\app\user-profile\user-profile-view\user-profile-view.component.css */
h1,
h2,
h3 {
  margin-bottom: 0.5em;
}

.profile-container {
  max-width: 80vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: auto;
  padding: 22px 0;
  /* Adiciona um espaçamento no topo e no rodapé */
}

.profile-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.user-preferences {
  display: flex;
  flex-direction: column;
  /* Organiza as caixas de categoria em coluna */
}

.category-item,
p {
  color: var(--text-color);
  /* Usando variável de cor global */
  font-size: 16px;
  line-height: 1.5;
  /* Melhor legibilidade */
  padding: 5px 0;
  /* Espaçamento entre itens */
}

.user-nickname {
  text-align: center;
  margin-top: -10px;
  margin-left: -52px;
  color: var(--secondary-color);  /* Usando a cor global */
  font-family: var(--font-family-primary);
  width: 250px;
}

.tag {
  display: inline-block;
  background-color: #f0f0f0;
  border-radius: 15px;
  padding: 5px 10px;
  margin: 2px;
  font-size: 14px;
}

.content {
  flex: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 20px;
}

.user-profile-summary {
  font-family: var(--font-family-primary);
  /* Variável global */
  color: var(--secondary-color);
  line-height: 1.6;
  margin-bottom: 1.1em;
}

.user-profile-summary p,
.user-details p {
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin-right: 20px;
  margin-bottom: 1px;
}

/* Animações refinadas para sidebar */
@keyframes fadeInLeft {
  from {
    transform: translateX(-200%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes fadeOutLeft {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-200%);
  }
}

/* Responsividade */
@media only screen and (max-width: 600px) {
  .profile-container {
    flex-direction: column;
    padding: 5px;
  }

  .sidebar:not(.visible) {
    display: none;
    animation: fadeOutLeft 0.5s ease-in-out forwards;
  }

  .sidebar.visible {
    display: block;
    animation: fadeInLeft 0.5s ease-in-out forwards;
    width: 60%;
  }

  .content {
    padding-left: 0;
  }
}
