<!-- src\app\user-profile\user-profile-view\user-profile-view.component.html -->
<div class="profile-container">

    <div class="sidebar" [ngClass]="{'visible': isSidebarVisible}">
    <div class="profile-header">
      <img [src]="(usuario$ | async)?.photoURL" alt="Foto de Perfil" class="profile-picture">
    </div><!-- profile-header -->
    <p class="user-nickname"><strong>{{ (usuario$ | async)?.nickname }}</strong></p>

    <nav class="profile-nav">
      <a [routerLink]="['/perfil', uid]" *ngIf="!isOnOwnProfile()">
        <i class="fas fa-user"></i>Meu perfil
      </a>
      <a [routerLink]="['/minha-regiao']">
      <i class="fas fa-map-marker-alt"></i>Minha região
      </a>
      <a href="#"><i class="fas fa-images"></i>Minhas fotos </a>
      <a href="#"><i class="fas fa-cogs"></i>Minhas preferências</a>
      <a href="#"><i class="fas fa-users"></i>Meus amigos</a>
      <a href="#"><i class="fas fa-star"></i>Meus favoritos</a>
      <a [routerLink]="['/chat']"><i class="fas fa-comments"></i>Bate-papo</a>
      <!-- Você pode adicionar mais links conforme necessário -->
    </nav>
  </div>

  <div class="content">
    <div class="profile-content">
      <div *ngIf="usuario$ | async as usuario; else loading" class="user-details">
        <div class="user-profile-summary">
          <ng-container *ngIf="usuario.gender === 'casal'; else notCouple"> Somos {{ usuario.nickname }}
          </ng-container>
            <ng-template #notCouple>
            <h1>Sou {{ usuario.nickname }}</h1>
          </ng-template>
          <p>{{ usuario.municipio }}, {{ usuario.estado }}</p>
          <p>{{ usuario.gender }} {{ usuario.orientation }}</p>
          <p>perfil criado em {{ usuario.firstLogin | dateFormat }}</p>
        </div>
        <p>Email: {{ usuario.email }}</p>
        <!-- Adicione outros campos conforme necessário -->
      </div>
    <ng-template #loading>
      <p>Carregando...</p>
    </ng-template>
    <div class="profile-interests">
      <h3>Interesses</h3>
      <ul>
        <li>Tema 1</li>
        <li>Tema 2</li>
        <li>Tema 3</li>
      </ul>
    </div>
  </div>

</div>
