<!-- src\app\user-profile\user-profile-edit\edit-user-profile\edit-user-profile.component.html -->
<form (ngSubmit)="onSubmit()">

  <!-- Exibe a foto do perfil do usuário -->
  <div class="profile-picture-container">
    <img [src]="userData.photoURL" alt="Foto de perfil" class="profile-picture">
  </div>

  <!-- Restante do seu código HTML -->

  <div>
    <label for="photo">Trocar Foto de Perfil:</label>
    <input type="file" id="photo" (change)="onFileSelected($event)">
  </div>

  <div>
    <label for="nickname">Meu nickname</label>
    <input type="text" id="nickname" [(ngModel)]="userData.nickname" name="nickname">
  </div>

  <!-- Campo de seleção de Estado -->
  <div>
    <label for="estado">Estado:</label>
    <select [(ngModel)]="userData.estado" name="estado" (change)="onEstadoChange(userData.estado ?? '')">
      <option *ngFor="let estado of estados" [value]="estado.sigla">{{ estado.nome }}</option>
    </select>
  </div>

  <!-- Campo de seleção de Município -->
  <div>
    <label for="municipio">Município:</label>
    <select [(ngModel)]="userData.municipio" name="municipio">
      <option *ngFor="let municipio of municipios" [value]="municipio.nome">{{ municipio.nome }}</option>
    </select>
  </div>

  <div>
    <label for="gender">Gênero:</label>
    <select id="gender" [(ngModel)]="userData.gender" name="gender">
      <option *ngFor="let genderOption of genderOptions" [value]="genderOption.value">{{ genderOption.label }}</option>
    </select>
  </div>

  <div *ngIf="!isCouple()">
    <label for="orientation">Orientação:</label>
    <select id="orientation" [(ngModel)]="userData.orientation" name="orientation">
      <option value="bissexual">Bissexual</option>
      <option value="homossexual">Homossexual</option>
      <option value="heterossexual">Heterossexual</option>
      <option value="pansexual">Pansexual</option>
    </select>
  </div>

  <!-- Sempre exibir as caixas de seleção para orientação do casal -->
  <div *ngIf="isCouple()">
    <div>
      <label for="partner1Orientation">Orientação do Parceiro 1:</label>
      <select id="partner1Orientation" [(ngModel)]="userData.partner1Orientation" name="partner1Orientation">
        <option value="bissexual">Bissexual</option>
        <option value="homossexual">Homossexual</option>
        <option value="heterossexual">Heterossexual</option>
        <option value="pansexual">Pansexual</option>
      </select>
    </div>

    <div>
      <label for="partner2Orientation">Orientação do Parceiro 2:</label>
      <select id="partner2Orientation" [(ngModel)]="userData.partner2Orientation" name="partner2Orientation" required>
        <option value="" disabled selected>Selecione a Orientação</option>
        <option value="bissexual">Bissexual</option>
        <option value="homossexual">Homossexual</option>
        <option value="heterossexual">Heterossexual</option>
        <option value="pansexual">Pansexual</option>
      </select>
    </div>
  </div>

  <div class="button-group">
    <button type="submit">Salvar Alterações</button>
    <a [routerLink]="['/perfil', uid]" class="btn btn-secondary btn-voltar">Voltar sem Salvar</a>
  </div>
</form>
