<!-- src\app\layout\friend.management\friend-blocked\friend-blocked.component.html -->
@if (user() && user().uid) {
  <div class="friend-blocked">
    <h4>Usuários Bloqueados</h4>
    @if ((blockedUsers$ | async)?.length) {
      <ul>
        @for (blocked of blockedUsers$ | async; track blocked) {
          <li>
            {{ blocked.nickname || blocked.uid }}
            <button mat-button color="warn" (click)="unblockUser(blocked.uid)">Desbloquear</button>
          </li>
        }
      </ul>
    } @else {
      <p>Nenhum usuário bloqueado.</p>
    }
  </div>
}
