<!-- src\app\core\header\user-icon\user-icon.component.html -->
<!-- Se o usuário estiver logado, mostre o avatar e o botão de logout -->
<div *ngIf="userProfile; else notLoggedIn" class="buttons-container">
  <img [src]="userProfile.image" alt="Avatar do Usuário" class="avatar">
  <button (click)="logout()" class="btn btn-danger">Logout</button>
</div>

<!-- Se o usuário NÃO estiver logado, mostre os botões de login e registro -->
<ng-template #notLoggedIn>
  <div class="buttons-container">
    <button (click)="navigateToLogin()" class="btn btn-primary" title="Se você já tem uma conta, clique aqui">Entrar</button>
    <!-- <button (click)="openLoginModal()" class="btn btn-primary" title="Se você já tem uma conta, clique aqui">Entrar</button> -->
    <button (click)="navigateToRegister()" class="btn btn-secondary" title="Crie uma nova conta conosco">Cadastrar</button>
    <button (click)="navigateToSpy()" class="btn btn-secondary" title="Acesse o site com permissões limitadas">Espiar</button>
  </div>

  <!-- Modal de Login -->
  <div *ngIf="showLoginModal" class="login-modal mt-2">
    <button (click)="authService.googleLogin()" class="btn btn-outline-dark">Login com Google</button>
    <button (click)="authService.facebookLogin()" class="btn btn-outline-dark">Login com Facebook</button>
    <button (click)="navigateToEmailPasswordLogin()" class="btn btn-success">Login com Email e Senha</button>
    <p class="mt-2">Clique <a href="/access-details">aqui</a> para entender os diferentes níveis de acesso.</p>
  </div>
</ng-template>
