<!-- src\app\dashboard\online-users\online-users.component.html -->
<div class="container mt-3">
  <h2 class="online-users-title">Perfis Online</h2>

  <div *ngIf="onlineUsers$ | async as onlineUsers; else noProfilesFound">
    <div *ngIf="onlineUsers.length > 0; else noProfilesFound">
      <div class="profiles-row">
        <div class="profile-card" *ngFor="let user of onlineUsers">
          <app-user-card [user]="user" [distanciaKm]="user.distanciaKm ?? null"></app-user-card> <!-- Usando o componente padronizado -->
        </div>
      </div>
    </div>
  </div>

  <ng-template #noProfilesFound>
    <p>Nenhum perfil online foi encontrado.</p>
  </ng-template>
</div>
