<!-- src\app\dashboard\online-users\online-users.component.html -->
<h2 class="online-users-title">Perfis Online na Sua Região</h2>
<div class="profiles-container" *ngIf="onlineUsersByRegion$ | async as onlineUsers; else noProfilesFound">
  <div class="profile-card" *ngFor="let user of onlineUsers">
    <img [src]="user.photoURL || 'caminho/para/imagem/padrão.jpg'" alt="{{ user.nickname }}" class="profile-photo">
    <div class="card-body">
      <h5 class="card-title">{{ user.nickname }}</h5>
      <p class="card-text">{{ user.gender | titlecase }}</p>
      <p class="card-text">{{ user.municipio }}, {{ user.estado }}</p>
      <a [routerLink]="['/outro-perfil', user.uid]" class="btn btn-primary">Ver Perfil</a>
    </div>
  </div>
</div>
<ng-template #noProfilesFound>
  <p>Nenhum perfil online foi encontrado na sua região.</p>
</ng-template>
