/* src\app\dashboard\online-users\online-users.component.css */
.online-users-title{
  margin-bottom: auto;
}
.profiles-row {
  display: flex;
  flex-wrap: wrap;  /* Isso permite a quebra automática de linha quando necessário */
  gap: 15px;  /* Espaçamento entre os cards */
  justify-content: flex-start;  /* Alinha os cards à esquerda, mas pode ser ajustado conforme necessidade */
}

.profile-card {
  flex: 0 1 200px;  /* Cada card terá uma largura fixa de 200px */
  width: 100%;  /* Garante que o card ocupe todo o espaço disponível até o limite de 200px */
}

.container {
  padding: 30px;
  margin-bottom: 3%;
  /* Espaçamento entre o container e o conteúdo abaixo */
}
