<!-- src\app\authentication\espiar\espiar.component.html -->
<div class="authentication-container">
  <div class="vertical-center">
    <div class="authentication-content">
      <h2>Bem-vindo ao modo Espiar!</h2>
      <p>
        Neste modo, você pode explorar um pouco do conteúdo da nossa rede social sem precisar se registrar.
        No entanto, será atribuido a você um perfil de visitante para que conheça nossa plataforma, e suas funcionalidades serão limitadas.
      </p>

      <!-- Se o usuário NÃO está autenticado, mostra as opções de login  -->
      <div *ngIf="!isAuthenticated">
        <!-- <p>Para ter acesso completo, <a (click)="navigateToRegister()">registre-se</a> ou <a -->
            <!-- (click)="navigateToLogin()">entre</a> com sua conta.</p> -->
        <div class="button-group">
          <!-- <button (click)="loginWithFacebook()">Facebook</button> -->
          <button (click)="loginComGoogle()">Logar com Google</button>
          <!-- <button *ngIf="showAnonymousButton" (click)="loginAnonymously()">Entrar Anônimo</button> -->
        </div>
      </div>


      <div *ngIf="isAuthenticated">
        <p>Você está logado como visitante.</p>
        <button (click)="logout()">Sair</button>
      </div>
    </div>
  </div>
</div>
