/* src\app\authentication\auth-verification-handler\auth-verification-handler.component.css */

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 70vh;
  background-color: var(--background-color);
  font-family: var(--font-family-primary);
}

.form-container {
  width: 100%;
  max-width: 450px;
  padding: 25px;
  background-color: var(--background-color);
  color: var(--text-color);
  border-radius: 12px;
  box-shadow: var(--box-shadow);
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.form-header {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: 500;
  color: var(--text-color);
}

.loading-message {
  text-align: center;
  font-size: 1.2rem;
  color: var(--primary-color);
}

.action-container {
  text-align: center;
  margin-top: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.link-button {
  margin-top: 5px;
  margin-bottom: 10px;
  background: none;
  border: none;
  color: var(--primary-color);
  text-decoration: underline;
  cursor: pointer;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.link-button:hover {
  color: var(--primary-hover);
}

.input-wrapper {
  position: relative;
}

.input-wrapper input {
  padding-right: 40px;
  background-color: var(--input-background);
  color: var(--text-color);
}

.toggle-input {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--text-color);
}

@media (max-width: 768px) {
  .form-container {
    max-width: 100%;
  }
}

/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: var(--modal-background);
  padding: 25px;
  border-radius: 16px;
  width: 100%;
  max-width: 450px;
  box-shadow: var(--box-shadow);
  text-align: center;
}

.modal-actions button {
  margin: 10px;
}
