<!-- src/app/layout/friend.management/friend-requests/friend-requests.component.html -->
@if (user() && user().uid) {
<div class="friend-requests">
  <h4>Solicitações de Amizade</h4>

  @if (isLoading$ | async) {
  <mat-spinner></mat-spinner>
  }

  @if (friendRequests$ | async; as requests) {
  <ul>
    @for (req of requests; track req) {
    <li>
      <mat-card>
        <mat-card-title>De: {{ req.requesterUid }}</mat-card-title>
        <mat-card-subtitle>{{ req.message || 'Sem mensagem' }}</mat-card-subtitle>
        <mat-card-content>
          Enviado em: {{ req.timestamp | date:'short' }}
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary" [disabled]="isLoading$ | async" (click)="acceptRequest(req)">
            Aceitar
          </button>
          <button mat-button color="warn" [disabled]="isLoading$ | async" (click)="rejectRequest(req)">
            Recusar
          </button>
        </mat-card-actions>
      </mat-card>
    </li>
    }
  </ul>
  } @else {
  <p>Nenhuma solicitação pendente.</p>
  }
</div>
}
