/* src\app\register-module\register.component.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 70vh;
  background-color: var(--background-color);
  font-family: var(--font-family-primary);
}

.form-container {
  width: 100%;
  max-width: 450px;
  padding: 25px;
  background-color: var(--background-color);
  color: var(--text-color);
  border-radius: 12px;
  box-shadow: var(--box-shadow);
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.form-header {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: 500;
  color: var(--text-color);
}

.nickname-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.nickname-field {
  flex: 1;
}

.input-wrapper {
  position: relative;
}

.input-wrapper input {
  padding-right: 40px;
}

.toggle-input {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--text-color);
}

.form-confirmation a,
.login-link a {
  color: var(--primary-color);
  font-weight: bold;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.form-confirmation a:hover,
.login-link a:hover {
  color: var(--primary-hover);
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.alert-error {
  padding: 0;
  margin: 0;
  color: var(--danger-color);
}

@media (max-width: 768px) {
  .form-container {
    max-width: 100%;
  }
}
