/* src\app\register-module\register.component.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
/* Classes que tambem estão no styles.css */

.alert-error {
  padding: 0px;
  margin: 0px;
  color: red
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 70vh;
  background-color: var(--background-color);
  font-family: var(--font-family-primary);
}

.form-container {
  width: 100%;
  max-width: 450px;
  padding: 25px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: var(--box-shadow);
  text-align: center;
}

.nickname-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  /* Espaço entre os campos */
}

.nickname-field {
  flex: 1;
  /* Faz com que os campos ocupem o mesmo espaço */
}

.input-field {
  width: 100%;
  padding: 1px;
    /* Faz o campo ocupar todo o espaço disponível dentro de .nickname-field */
}

/* Estilização para os links */
.form-confirmation a {
  color: var(--primary-color);
  font-weight: bold;
  text-decoration: underline;
  transition: color 0.3s ease;
  cursor: pointer;
}

.form-confirmation a:hover {
  color: var(--primary-hover);
}

.form-header {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn:hover {
  background-color: var(--primary-hover);
}

.login-link {
  margin-top: 15px;
  font-size: 1rem;
}

.login-link a {
  color: var(--primary-color);
  font-weight: bold;
}

.login-link a:hover {
  color: var(--primary-hover);
}

/* Responsividade */
@media (max-width: 768px) {
  .form-container {
    max-width: 100%;
  }
}
