<!-- src\app\register-module\register.component.html -->
<div class="auth-container">
  <div class="">
    <h2 class=""></h2>

      <app-register-ui
            [form]="registerForm"
            [isLoading]="isLoading"
            [isLockedOut]="isLockedOut"
            [formSubmitted]="formSubmitted"
            [nicknameErrorMessage]="nicknameErrorMessage()"
            [complementoErrorMessage]="complementoErrorMessage()"
            (submitForm)="onRegister()"
            (openTerms)="openTermsDialog()"
            (resendEmail)="resendVerificationEmail()"
            (blurField)="onBlur($event)">
      </app-register-ui>
  </div>
</div>
