/* src\styles.css */
/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: sans-serif;
}

.router-outlet-container {
  height: 60vh;
  width: 100vw;
  aspect-ratio: 16/9;
}

body { margin: 0;
      font-family: Roboto, "Helvetica Neue", sans-serif;
    }
