<!-- src\app\layout\perfis-proximos\perfis-proximos.component.html -->
@if (profiles.length && profiles.length > 0) {
  <div class="container mt-3">
    <h2 class="profiles-title">Perfis Próximos</h2>
    <div class="profiles-row">
      @for (profile of profiles; track profile) {
        <div class="profile-card">
          <app-user-card [user]="profile" [distanciaKm]="profile.distanciaKm ?? null"></app-user-card>
        </div>
      }
    </div>
  </div>
} @else {
  <p class="no-profiles">Nenhum perfil próximo foi encontrado.</p>
}

