/* src\app\dashboard\dashboard-layout\dashboard-layout.component.css */
.dashboard-container {
  display: flex;
}

.dashboard-sidebar {
  width: 250px;
  background-color: #f8f9fa;
  padding: 15px;
  height: 100vh;
  /* Full height */
}

.dashboard-sidebar ul {
  list-style: none;
  padding: 0;
}

.dashboard-sidebar ul li {
  margin: 10px 0;
}

.dashboard-content {
  flex-grow: 1;
  padding: 20px;
}
