/* src\app\photo\photo-uploader\photo-uploader.component.css */
.photo-uploader {
  border: 1px;
  /* Estilos para o container do uploader */
}

.photo-uploader form {
  border: 1px;
  /* Estilos para o formulário */
}

.photo-uploader input[type="file"] {
  border: 1px;
  /* Estilos para o input de arquivo */
}

.photo-uploader button {
  border: 1px;
  /* Estilos para o botão */
}
