<button
  type="button"
  class="media-action-menu__trigger"
  [matMenuTriggerFor]="menu"
  [disabled]="disabled"
  aria-label="Mais ações"
  title="Mais ações"
  (click)="stopPropagation($event)"
>
  <mat-icon fontIcon="more_vert"></mat-icon>
</button>

<mat-menu #menu="matMenu" xPosition="before" class="app-media-action-menu-panel">
  <button mat-menu-item type="button" (click)="edit.emit()">
    <mat-icon fontIcon="edit"></mat-icon>
    <span>{{ editLabel }}</span>
  </button>

  @if (showSecondaryAction) {
    <button mat-menu-item type="button" (click)="secondaryAction.emit()">
      <mat-icon [fontIcon]="secondaryIcon"></mat-icon>
      <span>{{ secondaryLabel }}</span>
    </button>
  }

  @if (showFeatureAction) {
    <button
      mat-menu-item
      type="button"
      [disabled]="featureActive"
      (click)="featureAction.emit()"
    >
      <mat-icon [fontIcon]="featureIcon"></mat-icon>
      <span>{{ featureActive && featureCurrentLabel ? featureCurrentLabel : featureLabel }}</span>
    </button>
  }

  <mat-divider></mat-divider>

  <button
    mat-menu-item
    type="button"
    class="media-action-menu__danger"
    (click)="deleteRequested.emit()"
  >
    <mat-icon fontIcon="delete"></mat-icon>
    <span>{{ deleteLabel }}</span>
  </button>
</mat-menu>
