/* src\app\core\footer\social-footer\social-footer.component.css */

.social-footer ul {
  list-style-type: none;
  display: flex;
  padding: 0;
}

.social-footer li {
  margin-right: 10px;
}

.social-footer li:last-child {
  margin-right: 0;
}

.social-footer li a {
  color: #ffffff;
  text-decoration: none;
}

.social-footer li a:hover {
  color: #a3a1a1;
}
