/* src\app\core\footer\legal-footer\legal-footer.component.css */

.legal-footer ul {
  list-style-type: none;
  padding: 0;
}

.legal-footer li {
  margin-bottom: 5px;
}

.legal-footer li a {
  color: #ffffff;
  text-decoration: none;
}

.legal-footer li a:hover {
  color: #a3a1a1;
}
