<!-- src\app\register-module\register-ui\fields\nickname-field\nickname-field.component.html -->
<div *ngIf="form" [formGroup]="form!">
  <!-- Apelido Principal -->
  <div class="input-group">
    <input
            type="text"
            formControlName="apelidoPrincipal"
            placeholder="Apelido (4-12 caracteres)"
            class="input-field"
            aria-label="Apelido Principal"
            (blur)="emitBlur('apelidoPrincipal')" />

    <div *ngIf="nicknameErrorMessage" class="tooltip-error">
      {{ nicknameErrorMessage }}
    </div>
  </div>

  <!-- Complemento Apelido -->
  <div class="input-group">
    <input
          type="text"
          formControlName="complementoApelido"
          placeholder="Complemento (opcional)"
          class="input-field"
          aria-label="Complemento do Apelido"
          (blur)="emitBlur('complementoApelido')" />

    <div *ngIf="complementoErrorMessage" class="tooltip-error">
      {{ complementoErrorMessage }}
    </div>
  </div>
</div>
