<!-- nickname-field.component.html -->
<div *ngIf="form()" [formGroup]="form()">
  <!-- Apelido Principal -->
  <div class="input-group">
    <input type="text" formControlName="apelidoPrincipal" placeholder="Apelido (4-12 caracteres)" class="input-field"
      aria-label="Apelido Principal" (input)="onInput('apelidoPrincipal')" (blur)="onBlur('apelidoPrincipal')" />
    <div *ngIf="getTooltipMessage('apelidoPrincipal')" class="tooltip-error">
      {{ getTooltipMessage('apelidoPrincipal') }}
    </div>
  </div>

  <!-- Complemento Apelido -->
  <div class="input-group">
    <input type="text" formControlName="complementoApelido" placeholder="Complemento (opcional)" class="input-field"
      aria-label="Complemento do Apelido" (input)="onInput('complementoApelido')"
      (blur)="onBlur('complementoApelido')" />
    <div *ngIf="getTooltipMessage('complementoApelido')" class="tooltip-error">
      {{ getTooltipMessage('complementoApelido') }}
    </div>
  </div>
</div>
